<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <h1
          [style.background-color]="'#363062'"
          [style.color]="'blanchedalmond'"
          [style.border-radius.px]="10"
          [style.padding.px]="1"
          class="text-center"
        >
          Add User Data
        </h1>
        <div *ngIf="submitted" class="alert alert-success" role="alert">
          Woohoo 🎊🎊 !
        </div>
        <div *ngIf="error" class="alert alert-danger" role="alert">
          {{ error }}
        </div>
        <!-- <h6>{{ userForm.value | json }}</h6> -->
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First Name</label>
            <input
              name="firstName"
              type="text"
              class="form-control"
              id="firstName"
              formControlName="firstName"
              [class.is-invalid]="
                userForm.get('firstName')?.invalid &&
                userForm.get('firstName')?.dirty
              "
              placeholder="Enter your first name"
            />
            <small
              *ngIf="
                userForm.get('firstName')?.hasError('required') &&
                userForm.get('firstName')?.invalid &&
                userForm.get('firstName')?.dirty
              "
              class="text-danger"
            >
              First Name is required.
            </small>
            <small
              *ngIf="
                userForm.get('firstName')?.hasError('minlength') &&
                userForm.get('firstName')?.invalid &&
                userForm.get('firstName')?.dirty
              "
              class="text-danger"
            >
              First Name should be at least 10 characters long.
            </small>
            <small
              *ngIf="
                userForm.get('firstName')?.hasError('maxlength') &&
                userForm.get('firstName')?.invalid &&
                userForm.get('firstName')?.dirty
              "
              class="text-danger"
            >
              First Name should be less than 25 characters long.
            </small>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Last Name</label>
            <input
              name="lastName"
              type="text"
              class="form-control"
              id="lastName"
              formControlName="lastName"
              [class.is-invalid]="
                userForm.get('lastName')?.invalid &&
                userForm.get('lastName')?.dirty
              "
              placeholder="Enter your last name"
            />

            <small
              *ngIf="
                userForm.get('lastName')?.hasError('required') &&
                userForm.get('lastName')?.invalid &&
                userForm.get('lastName')?.dirty
              "
              class="text-danger"
            >
              Last Name is required.
            </small>
            <small
              *ngIf="
                userForm.get('lastName')?.hasError('minlength') &&
                userForm.get('lastName')?.invalid &&
                userForm.get('lastName')?.dirty
              "
              class="text-danger"
            >
              Last Name should be at least 10 characters long.
            </small>
            <small
              *ngIf="
                userForm.get('lastName')?.hasError('maxlength') &&
                userForm.get('lastName')?.invalid &&
                userForm.get('lastName')?.dirty
              "
              class="text-danger"
            >
              Last Name should be less than 25 characters long.
            </small>
          </div>
        </div>
        <div class="mb-3">
          <label for="email">Email</label>
          <input
            name="email"
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            [class.is-invalid]="
              userForm.get('email')?.invalid && userForm.get('email')?.dirty
            "
            placeholder="Enter your email"
          />
          <small
            *ngIf="
              userForm.get('email')?.hasError('emailInvalid') &&
              userForm.get('email')?.invalid &&
              userForm.get('email')?.dirty
            "
            class="text-danger"
          >
            Invalid Email "{{ userForm.get("email")?.value }}" format
          </small>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3 form-check">
            <input
              class="form-check-input"
              type="radio"
              value="Male"
              formControlName="gender"
              name="gender"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              Male
            </label>
          </div>
          <div class="col-md-6 mb-3 form-check">
            <input
              class="form-check-input"
              type="radio"
              value="Female"
              formControlName="gender"
              name="gender"
            />
            <label class="form-check-label" for="flexRadioDefault2">
              Female
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
              placeholder="Enter your password"
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="confirmPassword" class="form-label"
              >Confirm Password</label
            >
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              formControlName="confirmPassword"
              [class.is-invalid]="userForm.errors?.['passwordMismatch']"
              placeholder="Confirm your password"
            />
            <div
              class="text-danger"
              [hidden]="!userForm.hasError('passwordMismatch')"
            >
              Passwords do not match.
            </div>
          </div>
        </div>
        <!-- // another form group insde  -->
        <div formGroupName="address">
          <div class="row">
            <div class="col-md-6 mb-3">
              <!-- Address fields: City and Street Number in one column -->
              <label for="city">City</label>
              <input
                type="text"
                class="form-control"
                id="city"
                formControlName="city"
                placeholder="Enter the city"
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="streetNumber">Street Number</label>
              <input
                type="text"
                class="form-control"
                id="streetNumber"
                formControlName="streetNumber"
                placeholder="Enter the street number"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="country">Country</label>
            <input
              type="text"
              class="form-control"
              id="country"
              formControlName="country"
              placeholder="Enter the country"
            />
          </div>
        </div>
        <div class="form-floating mb-3">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="floatingTextarea2"
            formControlName="comments"
            style="height: 100px"
          ></textarea>
          <label for="floatingTextarea2">Comments</label>
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="userForm.invalid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
